<h2>Trains</h2>

<% if @trains.any? %>
  <ul>
    <% @trains.each do |train| %>
      <li><b>ID:</b> <a href="/trains/edit/<%= train.id %>"><%= train.id %></a>
        <ul>
          <li><b>Color:</b> <%= train.color %></li>
          <li><b>Type:</b> <%= train.type %></li>
          <li><b>Current City:</b> <%= train.current_city %></li>
        </ul>
    <% end %>
  </ul>
<% else %>
  <p>There are currently no trains to display.</p>
<% end %>

<a href="/trains/new">Add a train</a>
<a href="/">Return to home</a>
